/* :root{
    
} */





/*
|header.php 
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
    height: 100%;
    margin:0;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#fcf7ff;
    overflow-x: hidden;

  
}

a:link, a:visited{
    text-decoration: none;
    color:#525252;
}

a:hover{
    color: #C4A8D4;

}

.social-media-nav a:hover{
    color: #ba59f2;
}


 
ul li a{
    -webkit-transition-duration: 0.8s; /* Safari & Chrome */
    transition-duration: 0.8s;
}


ul{
    list-style: none;
}

.head-top{
    background-color: #C4A8D4 ;

}
.head-top img{
    margin-top: 1rem;
}

.social-media-nav li{
    padding:0 0.5rem ;
}

.sticky-nav{
    position: fixed;
    right:2rem;
    top:0.7rem;
    z-index: 2;
}

.main-nav li{
    padding: 0 1.5rem ;
    font-size: 1.2rem;
    font-weight: 700;
}

.main-nav{
    -webkit-box-shadow: 0 5px 6px -6px black; /* Safari & Chrome*/
    -moz-box-shadow: 0 5px 6px -6px black;    /* Safari & Chrome*/
    box-shadow: 0 5px 6px -6px black;
    border-bottom: solid rgb(165, 165, 165) 0.01rem;
    background-color: white;
    z-index: 1;

}


/* 
* Main 
*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
--intro start
*/

.intro{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:3rem;
}

.intro p{
    font-size:1.3rem;
    margin-top:5rem;
    padding-right:1rem;
}

/* slideshow start */
.slideshow{
    width: 500px;
    height: 500px;
    border-radius:50%;
    overflow: hidden;
    box-shadow:#C4A8D4 0px 0px 30px 10px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

/* manual sidle */

.navigation-manual{
position: absolute;
width: 500px;
margin-top:-50px;
display: flex;
justify-content: center;
}

.manual-btn{
    border:2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background:#C4A8D4;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-20%;
}
#radio3:checked ~ .first{
    margin-left:-40%;
}
#radio4:checked ~ .first{
    margin-left:-60%;
}

/* slideshow end */

/* 
---intro end 
*/

/* 
---meet holly starts
*/

#meet-holly{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:1rem;
    flex-direction: column;
    align-items: center;
}
#meet-holly h1{
    position: relative;
    padding: 0.5rem 1rem 1rem 5rem;
    margin-right: 20rem;
    margin-top:4.5rem;
    margin-bottom: 3rem;
    align-self: start;
    background-color:#C4A8D4;
    border-radius: 0 4rem 1rem 0;
    color: #F8DFC0;
    font-family: "Times New Roman", serif;
    font-weight: 800;
    overflow: hidden;
}
#meet-holly h1 img{
    padding-right:1rem;
    transform: scaleX(-1);
    width: 80px;
    height: 40px;
}
#meet-holly p{
    font-size:1.5rem;
    margin-top:2rem;
    max-width: 50rem;
}
.holly-image{
    border-radius: 30%;
    width: 300px;
    box-shadow:#C4A8D4 0px 0px 50px 10px;
    
}
/* 
---meet holly end
*/

/* 
---cakes start
*/

#cakes{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:1rem;
    flex-direction: column;
    align-items: center;
   
}
#cakes h1{
    position: relative;
    padding: 0.5rem 12rem 1rem 1rem;
    margin-right:0;
    margin-top:4.5rem;
    margin-bottom: 3rem;
    align-self: flex-end;
    background-color:#C4A8D4;
    border-radius: 4rem 0 0 1rem ;
    color: #F8DFC0;
    font-family: "Times New Roman", serif;
    font-weight: 800;

}
#cakes h1 img{
    padding-right:1rem;
    width: 80px;
    height: 40px;

}
.box-content-pleft{
    display: flex;
    align-items: center;
}
.box-content-pleft p{
    font-size: 1.3rem;
    padding-right:2rem;
    order: 1;
}

.box-content-pleft img{
    order:2;
}
.box-content-pright{
    display: flex;
    align-items: center;
}
.box-content-pright p{
    font-size: 1.3rem;
    padding-left:2rem;
    order: 2;
}

.box-content-pright img{
    order:1;
}
/* celebration cakes start */
.celebration-cakes{
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.celebration-cakes h2{
    text-align: start;
    font-family: 'Dancing Script', cursive;    color: #888888;
    font-size: 50px;
}

/* celebration cakes end */
/* wedding cakes start */
#wedding-cakes-anchor{
    padding-top: 2rem ;
}
.wedding-cakes{
    align-content: center;
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.wedding-cakes h2{
    text-align: end;
    font-family: 'Dancing Script', cursive;    color: #888888;
    font-size: 50px;
}
/* wedding cakes end */
/* cup cakes start */
#cup-cakes-anchor{
    padding-top: 2rem ;
}
.cup-cakes{
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.cup-cakes h2{
    text-align: start;
    font-family: 'Dancing Script', cursive;    color: #888888;
    font-size: 50px;
}
/* cup cakes end */
/* tray bakes start */
.tray-bakes{
    padding:2rem;
    margin-top:3rem;
    margin-bottom: 5rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.tray-bakes h2{
    text-align: end;
    font-family: 'Dancing Script', cursive;    color: #888888;
    font-size: 50px;
}
/* tary bakes end */
/* 
---cakes end
*/





/* footer starts */
.footer-topper{
    background-color: #EAE0F0;
    margin-top:2rem;
    padding:2rem;
    text-align: center;
    justify-items: center;
}
footer{
    margin-bottom: 0;
    background-color: black;
    color:#ffffff;
}
footer p{
    margin:0;
    padding: 1rem;
}

/* footer end */