/* :root{
    
} */





/*
|header.php 
*/


/* Globel sytles start */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
    height: 100%;
}


body{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#fcf7ff;
    height: 100%;
  

}

.wapper{
    overflow-x: hidden;  

}

a:link, a:visited{
    text-decoration: none;
    color:#525252;
}

a:hover{
    color: #C4A8D4;

}

/* Globel style end  */

.social-media-nav a:hover{
    color: #ba59f2;
}

ul li a{
    -webkit-transition-duration: 0.8s; /* Safari & Chrome */
    transition-duration: 0.8s;
}


ul{
    list-style: none;
}

.head-top{
    background-color: #C4A8D4 ;

}
.head-top img{
    margin-top: 1rem;
}

.social-media-nav li{
    padding:0 0.5rem ;
}

.sticky-nav{
    position: fixed;
    right:2rem;
    top:0.7rem;
    z-index: 2;
}

.main-nav li{
    padding: 0 1.5rem ;
    font-size: 1.2rem;
    font-weight: 700;
}

.main-nav{
    -webkit-box-shadow: 0 5px 6px -6px black; /* Safari & Chrome*/
    -moz-box-shadow: 0 5px 6px -6px black;    /* Safari & Chrome*/
    box-shadow: 0 5px 6px -6px black;
    border-bottom: solid rgb(165, 165, 165) 0.01rem;
    background-color: white;
    z-index: 2;

}

/* 
--intro start
*/

.intro{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:1rem;
}

.intro p{
    font-size:1.3rem;
    margin-top:auto;
    margin-bottom:auto;
    padding-right:3rem;
    order: 1;
}
.intro aside{
    order: 2;
}

/* slideshow start */
  .slider{
      position: relative;
      overflow: hidden;
      height: 500px;
      width: 400px;
      margin-top:1rem;
      margin-left: auto;
      margin-right: auto;
      box-shadow: rgb(200, 200, 200) 0px 0px 20px 10px;
      border-radius: 10px;
     
  }
    

.slide{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}



.slide.current{
    opacity: 1;
    z-index: 1;
}

.slide .content{
    position: absolute;
    bottom: 30px;
    color: #333;
    left: -600px;
    opacity: 0;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem ;
    border-radius:0 20px 20px 0;
}
.slide .content p{
    margin-top: 1rem;
    font-size:1rem;
}

.slide .content h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.8s;
}

.buttons button#next {
    position: absolute;
    top:50%;
    right:100px;
    z-index: 1;
}
.buttons button#prev {
    position: absolute;
    top:50%;
    left:15px;
}

.buttons button{
    border: 2ps solid #ffffff;
    background-color:transparent;
    color:#fff;
    cursor: pointer;
    padding:13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color:rgba(255, 255, 255, 0.5);
    color: #333;
}
@media(max-width:1050px){
    .slide .content{
        bottom:-300px;
        left:0px;
        width: 100%;
    }
    .slide.current .content{
        transform: translateY(-300px);
    }
}


.slide:first-child {
    background: url('images/slider/slideimg1.jpg') no-repeat center center/cover;
} 
.slide:nth-child(2){
    background: url('images/slider/slideimg2.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background: url('images/slider/slideimg3.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
    background: url('images/slider/slideimg4.jpg') no-repeat center top/cover;
}



/* slideshow end */

/* 
---intro end 
*/

/* 
---meet holly starts
*/

#meet-holly{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#meet-holly h1{
    position: relative;
    padding: 0.5rem 1rem 1rem 5rem;
    margin-right: 20rem;
    margin-top:4.5rem;
    margin-bottom: 3rem;
    align-self: start;
    background-color:#C4A8D4;
    border-radius: 0 4rem 1rem 0;
    color: #F8DFC0;
    font-family: "Times New Roman", serif;
    font-weight: 800;
    overflow: hidden;
}
#meet-holly h1 img{
    padding-right:1rem;
    transform: scaleX(-1);
    width: 80px;
    height: 40px;
}
#meet-holly p{
    font-size:1.3rem;
    margin-top:2rem;
    max-width: 60rem;
}
.holly-image{
    border-radius: 10px;
    width: 300px;
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
    
}

/* 
---meet holly end
*/

/* 
---cakes start
*/

#cakes{
    max-width: 80rem;
    margin:0 auto;
    display: flex;
    margin-top:1rem;
    flex-direction: column;
    align-items: center;
   
}
#cakes h1{
    position: relative;
    padding: 0.5rem 12rem 1rem 1rem;
    margin-right:0;
    margin-top:4.5rem;
    margin-bottom: 3rem;
    align-self: flex-end;
    background-color:#C4A8D4;
    border-radius: 4rem 0 0 1rem ;
    color: #F8DFC0;
    font-family: "Times New Roman", serif;
    font-weight: 800;

}
#cakes h1 img{
    padding-right:1rem;
    width: 80px;
    height: 40px;

}
.box-content-pleft{
    display: flex;
    align-items: center;
}
.box-content-pleft p{
    font-size: 1.3rem;
    padding-right:2rem;
    order: 1;
}

.box-content-pleft img{
    order:2;
}
.box-content-pright{
    display: flex;
    align-items: center;
}
.box-content-pright p{
    font-size: 1.3rem;
    padding-left:2rem;
    order: 2;
}

.box-content-pright img{
    order:1;
}
.box-content-pleft a{
    color: #C4A8D4;
    }
.box-content-pright a{
    color:#C4A8D4;
}
/* celebration cakes start */
.celebration-cakes{
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.celebration-cakes h2{
    text-align: start;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 50px;
}


/* celebration cakes end */
/* wedding cakes start */
#wedding-cakes-anchor{
    padding-top: 2rem ;
}
.wedding-cakes{
    align-content: center;
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.wedding-cakes h2{
    text-align: end;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 50px;
}
/* wedding cakes end */
/* cup cakes start */
#cup-cakes-anchor{
    padding-top: 2rem ;
}
.cup-cakes{
    padding:2rem;
    margin-top:3rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.cup-cakes h2{
    text-align: start;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 50px;
}
/* cup cakes end */
/* tray bakes start */
#tray-bake-anchor{
    padding-top:2rem;
}
.tray-bakes{
    padding:2rem;
    margin-top:3rem;
    margin-bottom: 5rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.tray-bakes h2{
    text-align: end;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 50px;
}
/* tary bakes end */
/* 
---cakes end
*/
/* 
--- Contact form start
*/
#contact-form-anchor{
    padding-top:2rem;
}
.contact-form{
    padding:2rem;
    margin-top:3rem;
    margin-bottom: 5rem;
    background-color:rgba(255,255,255,0.5);
    box-shadow: rgb(200, 200, 200) 2px 2px 20px 5px;
}

.contact-form h2{
    text-align: start;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 40px;
}
.contact-form a{  
    color:#C4A8D4 ;
}
/* message to display if tc not checked */
#noCheck{
    display: none;
    margin-top: 1rem;
}
/* message to diplay if field left empty */
.hiddenError{
    display: none;
}
/* message to display to confirm message sent */
#confirmHidden{
display: none;
}

/* 
--- Contact form end
*/




/* footer starts */
.footer-topper{
    background-color: #EAE0F0;
    margin-top:2rem;
    padding:2rem;
    text-align: center;
    justify-items: center;
}
footer{
    margin-bottom: 0;
    background-color: black;
    color:#ffffff;
}
footer p{
    margin:0;
    padding: 1rem;
}

/* footer end */


/* ------------Gallery page start-------------*/

.title{
    position: relative;
    top:5rem;
    left:6rem;
    color:#F8DFC0 ;
    text-shadow: #d9b4ee 0 2px;
    font-family: "Times New Roman", serif;
    font-weight: 800;
    font-size: 5rem;
}
#celebrate-anchor{
    padding-top:2rem;
}
#wedding-cake-anchor{
    padding-top:2rem;
}
#cup-cake-anchor{
    padding-top:2rem;
}

.image-box{
    margin:7rem 5rem;
    margin-bottom: 0rem;
    padding-bottom:2rem;
    box-shadow:inset rgb(200, 200, 200) 2px 2px 20px 5px ;
    background-color:#fff;
    text-align: center;
    border-radius: 10px;
    overflow: scroll;
    max-height: 600px;
}
/* .image-box-scroll{
    overflow: scroll;
} */
.image-box h1{
    position: sticky;
    top:0;
    padding: 1rem 0 1rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:inset rgb(200, 200, 200) -2px 0px 20px 5px ;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.image-box::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .image-box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.image-box h1 {
    padding-top:2rem;
    font-family: 'Dancing Script', cursive;    
    color: #888888;
    font-size: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.3rem;
    margin:5px;
  }
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.3rem;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
  }
